<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chatroom</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class ="container">
        <div class = "chatroom">
            <ul id="messages"></ul>
            <form action="/" method="POST">
                <input id = "txt" class="form-control" autocomplete="off" autofocus="on" placeholder="type your message here..." type="text">
                <button type="submit" class="btn btn-dark">Send</button>
            </form>
            <script type ="text/javascript">
                var socket = io();
                socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg));
            });
                $('form').submit(function(e){
                    e.preventDefault();
                    socket.emit('chat_message', $('#txt').val());
                    $('#txt').val('');
                    return false;
                });
                socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });
                    var username = prompt('Please tell me your name');
                    socket.emit('username', username);
            </script>
        </div>
    </div>
</body>
</html>